.header{

}
.header__upper{
  padding: 50px 0;
  background-color: #dcdcdc;
}
.header__contacts-link{
  display: block;
  color: $grey-color;
  font-family: $content-ff;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
}
.header__bottom{
  
}
@media (min-width: $desctop-width) {
}
